.login {
  display: flex;
}

.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  font-size: 0.7rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

.image {
  padding-top: 0.3rem;
}