.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #2c2c2c;
  background-color: white;
}
