.page-container {
  min-height: 100vh;
  padding: 1rem 3rem;
  background-color: #eaebf5;
}

.search-group {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 20rem;
}